html
  head
    title='wayve'
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Grand+Hotel')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/node_modules/p5/lib/p5.min.js')
    script(src='/node_modules/p5/lib/addons/p5.dom.min.js')
    script(src='/node_modules/p5/lib/addons/p5.sound.min.js')
    script(src='/scripts/page.js')
  body
    h1 wayve
    h2(id='caption') a place to see your sounds
    div(id='canvasDiv')
    h3 talk, sing, or clap to explore. tap to transform.
    h3(id='shapeName') current shape: cube.
    h3 jake lindvall 2017.